<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<style type="text/css">
		md-grid-list {margin: 8px;}
		.gray {background: #f5f5f5;}
		.green {background: #b9f6ca;}
		.yellow {background: #ffff8d;}
		.blue {background: #84ffff;}
		.red {background: #ff8a80;}
		md-grid-list md-grid-tile md-grid-tile-header {height: 20px;}
		.room {margin: auto;}
	</style>
</head>
<body ng-app="WatchNetPc" ng-cloak>
  <!--
    Your HTML content here
  -->  
	<div ng-controller="AppCtr" ng-cloak>

		<md-grid-list md-cols="4" md-gutter="1em" md-row-height="12:5">
			<md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
				<md-grid-tile-header class="room">
					BoF
				</md-grid-tile-header>
				<ul>
					<li ng-repeat="u in bof">{{u}}</li>
				</ul>
			</md-grid-tile>
			<md-grid-tile class="yellow" md-rowspan="2" md-colspan="2">
				<md-grid-tile-header>
					BOARD
				</md-grid-tile-header>
				<ul>
					<li ng-repeat="u in board">{{u}}</li>
				</ul>
			</md-grid-tile>
			<md-grid-tile class="red" md-rowspan="1" md-colspan="4">
				<md-grid-tile-header>
					CORRIDOR
				</md-grid-tile-header>
				<ul>
					<li ng-repeat="u in corridor">{{u}}</li>
				</ul>
			</md-grid-tile>
			<md-grid-tile class="blue" md-rowspan="2" md-colspan="2">
				<md-grid-tile-header>
					PLENARY
				</md-grid-tile-header>
				<ul>
					<li ng-repeat="u in plenary">{{u}}</li>
				</ul>
			</md-grid-tile>
			<md-grid-tile class="green" md-rowspan="2" md-colspan="2">
				<md-grid-tile-header>
					HALL
				</md-grid-tile-header>
				<ul>
					<li ng-repeat="u in hall">{{u}}</li>
				</ul>
			</md-grid-tile>
		</md-grid-list>
	</div>
	<div>
		<a href = "subscribe.html">登録</a>
	</div>


  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('WatchNetPc', ['ngMaterial'])
			.controller('AppCtr', function($scope, $http, $interval){

				$scope.bof = [];
				$scope.plenary = [];
				$scope.corridor = [];
				$scope.board = [];
				$scope.hall = [];

				function getData(){
					$http({method:"GET", url:"/cgi-bin/send_data.cgi"})
					.success(function(data){
						// console.log(data);
						$scope.bof = data["ap8"]["member"];
						$scope.board = data["ap7"]["member"].concat(["ga_"]);
						$scope.corridor = data["ap4"]["member"].concat(["su_"]);
						$scope.plenary = data["ap5"]["member"].concat(data["ap6"]["member"]);
						$scope.hall = data["ap1"]["member"].concat(data["ap2"]["member"]).concat(data["ap3"]["member"]);
					})
					.error(function(data){
						console.log("error!")
					});
				}
				$interval(getData, 1000);
			});

		
  </script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->
